.Tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray);

  border-bottom: 1px solid var(--line-color);

  .Tab {
    flex-shrink: 0;
    flex-grow: 1;
    font-size: 0.875rem;
    text-align: center;
    padding: 0.375rem;
    cursor: pointer;
    border: 1px solid var(--line-color);

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }

    &.Active {
      background: var(--basic-color-light);
      color: var(--basic-color);
      // font-weight: bold;
      border-bottom: 2px solid;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      @extend .Active;

      opacity: 0.65;
    }
  }
}
