@import '../../sass/modules.scss';

.Button {
  text-transform: capitalize;
  border: none;
  padding: 0.5em 1.5em;
  cursor: pointer;
  font-family: inherit;
  @include BorderRadius(3px);

  &:focus {
    outline: none;
  }
}

.Button.Primary {
  color: var(--inverseTextColor);
  background: var(--secondaryColor);

  &:hover {
    opacity: 0.9;
  }
}

.Button.Outlined {
  color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);

  &:hover {
    color: var(--inverseTextColor);
    background: var(--secondaryColor);
  }
}
