.Notice {
  font-size: 0.75rem;
  background-color: var(--magic-mint);
  width: fit-content;
  max-width: 900px;
  // color: var(--inverse-text);
  border-radius: 5px;
  position: relative;
  margin-top: 1em;

  p {
    padding: 1.2em 3em 1.2em 1em;
  }
}

button.CloseBtn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  transform: translate(20%, -20%);
  font-size: 0.875rem;
  // color: var(--inverse-text);
}
